MaoXD/Intermediate/
MaoXD/DerivedDataCache/
MaoXD/Saved/
MaoXD/Platforms/
MaoXD/Binaries/
MaoXD/.vs/
MaoXD/.idea/
MaoXD/.vsconfig
GameJam/Intermediate/
GameJam/DerivedDataCache/
GameJam/Saved/
GameJam/Platforms/
GameJam/Binaries/
GameJam/.vs/
GameJam/.idea/
GameJam/.vsconfig